.inner-hero {
  position: relative;
  padding: 28px 0 0;
  /* min-height: 430px; */
  /* overflow: hidden; */
  background:
    linear-gradient(rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.34)),
    url('../assets/images/home-hero.jpg') center center / cover no-repeat;
}

.inner-hero__content {
    padding-bottom: 0;
  /* position: relative;
  z-index: 2;
  padding: 28px 0 0; */
}

.inner-hero .progress-steps {
  margin-top: 0;
}
.progress-steps {
  margin-top: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .inner-hero {
    min-height: auto;
  }

  .inner-hero__content {
    padding-top: 24px;
  }
}